<h2>Les plats à la carte</h2>
            <p>Découvrez nos succulents plats !</p>



                        <app-nourriture  *ngFor="let plat of plats"
                                       [platName]="plat.name"
                                       [platDescription]="plat.description"
                                       [platImg]="plat.img"
                                       [platPrix]="plat.prix"
                                       [platCategorie]="plat.categorie"
                                       [platVendeur]="plat.name"
                                       [platImgVendeur]="plat.name">

                                    </app-nourriture>

