      <nav [ngClass]="'navbar navbar-expand-lg navbar-dark bg-dark'">
        <a [ngClass]="'navbar-brand'" routerLink="">Hubert Eats</a>
        <button [ngClass]="'navbar-toggler'" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span [ngClass]="'navbar-toggler-icon'"></span>
        </button>
        <div [ngClass]="'collapse navbar-collapse'" id="navbarNav">
          <ul [ngClass]="'navbar-nav'">
            <li routerLinkActive="active" [ngClass]="'nav-item'"><a routerLink="plats" [ngClass]="'nav-link'">Plats</a></li>
            <li routerLinkActive="active" [ngClass]="'nav-item'"><a routerLink="vendeurs" [ngClass]="'nav-link'">Vendeurs</a></li>
            <li routerLinkActive="active" [ngClass]="'nav-item'"><a routerLink="panier" [ngClass]="'nav-link'">Panier</a></li>
          </ul>
        </div>
      </nav>