<div class="card" style="width: 80%">
  <img class="card-img-top" src={{vendeurImg}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{vendeurName}}</h5>
    <p class="card-text">{{vendeurDescription}}</p>
  </div>
    <ul class="list-group list-group-flush">
          <li class="list-group-item">Adresse : {{vendeurAdresse}} €</li>
          <li class="list-group-item">Note : {{vendeurNote}}</li>
          <li class="list-group-item"><a routerLink="/vendeurs">Retour à la liste</a></li>
  </ul>
</div>
